<h1>New Code Challenge</h1>

<%= form_with model: @code, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <br>
  <%= f.label :problem_description %>
  <%= f.text_field :problem_description %>
  <br>
  <%= f.label :solution %>
  <%= f.text_field :solution %>
  <br>
  <%= f.submit %>
<% end %>