<!DOCTYPE html>
<html>
  <head>
    <title>Code Challenges</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <section>
      <%= link_to "Home", root_path %>
      &nbsp;
      <%= link_to "Add Code Challenge To Directory", new_code_path %>
    </section>
    <%= yield %>
  </body>
</html>
